td.ace {
    background-color: rebeccapurple;
}
td.cos {
    background-color:palevioletred;
}
td.acu {
    background-color: royalblue;
}
td.aci {
    background-color: palegreen;
}
td.cas {
    background-color: gold;
}
td.cis {
    background-color: forestgreen;
}
td.cus {
    background-color: deeppink;
}
td.alld {
    background-color: palegreen;
}